<main class="main-body">
  <div class="about-info">
    <%- page.content %>
  </div>
</main>
<script src="https://giscus.app/client.js"
        data-repo="maodaisuki/blog"
        data-repo-id="R_kgDOJkeIkw"
        data-category="Announcements"
        data-category-id="DIC_kwDOJkeIk84CZEUu"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>