/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif; */
    /* 霞鹜开源字体 */
    font-family: "LXGW WenKai", sans-serif;
}

.post-content {
    font-size: 1em;
}

.post-header h1 {
    font-size: 1.5em;
}

.post-content p {
    font-weight: normal;
}

.post-content a {
    color: #0084ff;
}

.post-meta {
    margin-top: 10px;
}

.page-header h1 {
    font-size: 1.5em;
}

.giscus {
    margin-top: 20px;
}

.paginav {
    margin-bottom: 10px;
}

.paginav a {
    padding-block-start: 5px;
    padding-block-end: 10px;
}

.paginav .prev {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.paginav .next {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.collection-title {
    margin-bottom: 10px;
}

.archive-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.archive-post-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.archive-post-time {
    text-align: right;
    white-space: nowrap;
    color: var(--secondary);
}

.pulldown-menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
}

.pulldown-menu-toggle svg {
    display: block;
    margin: auto;
}

.pulldown-menu-toggle:hover {
    cursor: pointer;
}

.pulldown-menu {
    display: none;
    flex-basis: 100%;
}

.pulldown-menu-list {
    list-style-type: none;
    padding-bottom: 10px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}

.pulldown-menu-list li a div {
    display: flex;
    padding-left: var(--gap);
    justify-content: space-between;
}

.pulldown-menu-list li a div div {
    display: flex;
    margin: auto var(--gap);
    align-items: center;
}

.pulldown-menu-list li:hover {
    background: var(--border);
}

.show {
    display: none;
}

.footer-LF {
    display: none;
}

@media screen and (max-width: 600px) {
    #menu {
        display: none;
    }
    .footer-LF {
        display: inline;
    }

    .show {
        display: inline-block !important;
    }
    /* 背景虚化 */
    .blur {
        filter: blur(2px);
    }

    .pulldown-menu-toggle {
        display: flex;
        margin: auto var(--gap);
    }
}