.not-found-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding: 20px
        
.not-found
    margin: 0 0 10px
        
.not-found-link
    font-size: 1em
    text-decoration: underline
    color: #333

.not-found-text
    font-size: 1.5em

.not-found-link:hover
    text-decoration: none
