body
    color: #222
    font-size: 17px
    font-family:"SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", Verdana, Arial, '微软雅黑', '宋体'

a
    text-decoration: none
    color: #222

.archive-post-title
    color: black;
    text-decoration: underline

.archive-post-title:hover 
    text-decoration: none


/* 萌娘黑幕 */
span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited 
    color: #252525

.heimu,.heimu a,a .heimu,.heimu a.new
    background-color: #252525;
    color: #252525;
    text-shadow: none

body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off
    transition: color .13s linear;
    color: #fff

body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off
    transition: color .13s linear;
    color: #add8e6

body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off,body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off
    transition: color .13s linear;
    color: #ba0000


@import './partial/layout'
@import './partial/header'
@import './partial/index'
@import './partial/footer'
@import './partial/post'
@import './partial/highlight'
@import './partial/comments'
@import './partial/zoom'
