<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <div class="body-container">
        <div class="header-wrapper"><%- partial('partial/header') %></div>
        <div class="main-wrapper"><%- body %></div>
        <div class="footer-wrapper"><%- partial('partial/footer') %></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://maodaisuki.github.io/blog/js/zoom.js"></script>
</body>
</html>
