<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <div class="body-container">
        <div class="header-wrapper"><%- partial('partial/header') %></div>
        <div class="main-wrapper"><%- body %></div>
        <div class="footer-wrapper"><%- partial('partial/footer') %></div>
    </div>
<script src="https://maodaisuki.github.io/blog/js/zoom.js"></script>
<script src="https://maodaisuki.github.io/blog/js/bootstrap.min.js"></script>
<script src="https://maodaisuki.github.io/blog/js/jquery.min.js"></script>
</body>
</html>
